<ol class="breadcrumb row" id="sitemap">
        <li class="active">Accueil</li>
    </ol>
    <div class="content">
        <header class="page-header">
            <h4>Ma biographie</h4>
        </header>

        <section class="row biography"><h6>&nbsp;</h6>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <p>Je suis n&eacute; le 5 septembre 1964 &agrave; Paris IVe, et suis donc un &eacute;crivain français, auteur notamment de romans policiers historiques et d'ouvrages de litt&eacute;rature d'enfance et de jeunesse.</p>
                <p>Fils d'un professeur de math&eacute;matiques &agrave; l'Universit&eacute; de Paris VIII et de la directrice du centre de documentation du Planning familial, Je suis le petit-fils d'un collectionneur d'art japonais, si bien que mon enfance baigna dans la culture, 
                    la litt&eacute;rature et les mythes asiatiques. Apr&egrave;s un bac de langues en 1982 (je parle russe, anglais et italien), je poursuis mes &eacute;tudes &agrave; l'Institut d'&eacute;tudes politiques de Paris puis &agrave; la Sorbonne.</p>
                <p>&Agrave; Madrid, en 1988, j'&eacute;cris cinq romans coup sur coup afin de cerner mes possibilit&eacute;s litt&eacute;raires. L'un d'entre eux, Le Songe d'Ursule, inspir&eacute; 
                    par le cycle de Carpaccio conserv&eacute; au mus&eacute;e de l'Acad&eacute;mie, me vaut le prix Del Duca du jeune romancier.</p>
                <p>En 1989, le montant du prix en poche, je vais vivre &agrave; New York, o&ugrave; j'y &eacute;cris Les Fous de Guernesey ou les Amateurs de litt&eacute;rature, publi&eacute; par les &eacute;ditions Robert Laffont.</p>
                <p>Les ann&eacute;es 1990, ann&eacute;es charni&egrave;res :
                    <ul>
                        <li>Dans les ann&eacute;es 1990 j'ai reçu un certain nombre de prix, bourses et encouragements divers, dont la prestigieuse Bourse du Jeune Romancier de la Fondation Lagard&egrave;re, le Prix Thyde-Monnier de la Soci&eacute;t&eacute; des Gens de Lettres, 
                            la bourse Villa M&eacute;dicis Hors les Murs et le Prix François-Mauriac de l'Acad&eacute;mie française.</li>
                        <li>Mais 1990 c'est aussi l'ann&eacute;e o&ugrave; je me lance dans le cin&eacute;ma en d'&eacute;crochant un petit r&ocirc;le dans le film <strong><em>"Il y a des jours ... et des lunes"</em></strong> de Claude Lelouch</li>
                    </ul>
                <p>La s&eacute;rie Voltaire m&egrave;ne l'enqu&ecirc;te a reçu en 2011 le Prix Ars&egrave;ne Lupin du roman policier, le Prix du Zinc de la Ville de Montmorillon et le Prix Historia du roman policier historique.</p>
            </div>
            <section class="col-lg-3"><h6>&nbsp;</h6>
                <img class="img-rounded img-thumbnail" src="public/images/IDENTITE.jpg" alt="Jean FORTEROCHE" title="Jean FORTEROCHE" id="photo">
            </section>  
        </section>
        <div class="row">
            <section class="col-lg-12"><h6>&nbsp;</h6>
                <div class="panel panel-primary filmography">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mes oeuvres litt&eacute;raires</h3>
                    </div>
                    <div class="row">
                        <section class="col-sm-6 col-xs-12"><h6>&nbsp;</h6>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Les livres de la s&eacute;rie <strong>"Voltaire m&egrave;ne l'enqu&ecirc;te" : </strong></h3>
                                </div>
                            </div>
                            <div id="voltaire" class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/La_baronne_meurt_a_cinq_heures.jpg" alt="voltaire" title="La baronne meurt à cinq heures"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Meutre_dans_le_boudoir.jpg" alt="voltaire" title="Meutre dans le boudoir"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Le_diable_shabille_en_voltaire.jpg" alt="voltaire" title="Le diable s'habille en Voltaire"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Crimes_et_condiments.jpg" alt="voltaire" title="Crimes et condiments"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Elementaire_mon_cher_Voltaire.jpg" alt="voltaire" title="Elementaire mon cher Voltaire"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Querelle_a_dieppe.jpg" alt="voltaire" title="Querelle de Dieppe"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Meutres_a_langlaise.jpg" alt="voltaire" title="Meutre à l'anglaise"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Ne_tirez_pas_sur_un_philosophe.jpg" alt="voltaire" title="Ne tirez pas sur le philosophe"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Docteur-voltaire_et_mister_hyde.jpg" alt="voltaire" title="Docteur Voltaire et Mr Hyde"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Un_carrosse_nomme_desir.jpg" alt="voltaire" title="Un carrosse nomé désir"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><img class="img-thumbnail" src="public/images/covers/Panique_a_rouen.jpg" alt="voltaire" title="Panique a Rouen"></div>
                            </div>
                        <div id="page_navigation"></div>
                    </section>
                    <section class="col-sm-6 col-xs-12 biography"><h6>&nbsp;</h6>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Les autres s&eacute;ries ou publications</h3>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Les myst&egrave;res de Venise
                                    <span class="badge">5 volumes parus</span>
                                </a>
                                <a href="#" class="list-group-item">L'orphelin de la Bastille
                                    <span class="badge">5 volumes parus</span>
                                </a>
                                <a href="#" class="list-group-item">Les nouvelles enqu&ecirc;tes du juge TI
                                    <span class="badge">19 volumes parus</span>
                                </a>
                                <a href="#" class="list-group-item">Autres publications historiques
                                    <span class="badge">11 volumes parus</span>
                                </a>
                                <a href="#" class="list-group-item">Ouvrages de littérature d'enfance et de jeunesse
                                    <span class="badge">5 volumes parus</span>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>

        <div class="row">
            <section class="col-sm-12">
                <div class="panel panel-primary filmography">
                    <div class="panel-heading">
                        <h3>Ma filmographie</h3>
                    </div>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Ann&eacute;e</th>
                                <th>Film(s)</th>
                                <th>R&ocirc;le</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1990</td>
                                <td>il y a des jours ... et des lunes <em>de Claude Lelouch</em></td>
                                <td>L'aubergiste</td>
                            </tr>
                            <tr class="active">
                                <td>1990</td>
                                <td>La Baule-les-pins <em>de Diane Kurys</em> </td>
                                <td>Jean-Claude</td>
                            </tr>
                            <tr class="warning">
                                <td>2000</td>
                                <td>Mercredi folle journ&eacute;e <em>de Pascal Thomas</em></td>
                                <td>Martin Socoa</td>
                            </tr>
                            <tr class="active">
                                <td>2003</td>
                                <td>Le Co&ucirc;t de la vie <em>de Philippe Le Guay</em></td>
                                <td>Coway</td>
                            </tr>
                            <tr class="warning">
                                <td>2007</td>
                                <td>Je crois que je l'aime <em>de Pierre Jolivet</em></td>
                                <td>Lucas</td>
                            </tr>
                            <tr class="active">
                                <td>2015</td>
                                <td>Les Chevaliers blancs <em>de Joachim Lafosse</em></td>
                                <td>Jacques Arnault</td>
                            </tr>
                            <tr class="success">
                                <td>2018</td>
                                <td>L'&Icirc;le aux chiens <em>de Wes Anderson</em> </td>
                                <td>Chef <em>(voix fran&ccedil;aise)</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>