/* =========================================== **
*                  STYLES.CSS                   *
*  -------------------------------------------  *
* Auteur : Thierry CHARPENTIER                  *
* Date   : 05/09/2018                           *
* Version: V1R0                                 *
** =========================================== */
@font-face {
    font-family: 'quadranta';
    src: url('fonts/quadranta.eot?') format('eot'),
         url('fonts/quadranta.otf') format('truetype'),
         url('fonts/quadranta.woff') format('woff'),
         url('fonts/quadranta.svg#QuadrantaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kinkee';
    src: url('fonts/kinkee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin-left: 0;
    margin-right: 0;
}
html, body{
    background-color: #fbe1ee;
    background-image: -webkit-radial-gradient(center 425px 45deg, circle closest-side, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 30%),
        -webkit-radial-gradient(center 425px 45deg, circle closest-side, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%),
        -webkit-linear-gradient(rgba(231, 228, 222, 0), rgba(231, 228, 222, 1) 150px, rgba(231, 228, 222, 1) 388px, rgba(255, 255, 255, 0) 388px, rgba(243, 239,233,1) 388px,rgba(243, 239,233,1) 390px, rgba(206,195,187,1) 390px, rgba(230,222,216,1) 990px, rgba(230,222,216,1)),
        -webkit-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        -webkit-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        -webkit-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        -webkit-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-image: -moz-radial-gradient(center 425px 45deg, circle closest-side, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 30%),
        -moz-radial-gradient(center 425px 45deg, circle closest-side, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%),
        -moz-linear-gradient(rgba(231, 228, 222, 0), rgba(231, 228, 222, 1) 150px, rgba(231, 228, 222, 1) 388px, rgba(255, 255, 255, 0) 388px, rgba(243, 239,233,1) 388px,rgba(243, 239,233,1) 390px, rgba(206,195,187,1) 390px, rgba(230,222,216,1) 990px, rgba(230,222,216,1)), 
        -moz-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        -moz-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        -moz-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        -moz-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-image: -ms-radial-gradient(center 425px 45deg, circle closest-side, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 30%),
        -ms-radial-gradient(center 425px 45deg, circle closest-side, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%),
        -ms-linear-gradient(rgba(231, 228, 222, 0), rgba(231, 228, 222, 1) 150px, rgba(231, 228, 222, 1) 388px, rgba(255, 255, 255, 0) 388px, rgba(243, 239,233,1) 388px,rgba(243, 239,233,1) 390px, rgba(206,195,187,1) 390px, rgba(230,222,216,1) 990px, rgba(230,222,216,1)),
        -ms-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        -ms-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        -ms-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        -ms-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-image: -o-radial-gradient(center 425px 45deg, circle closest-side, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 30%),
        -o-radial-gradient(center 425px 45deg, circle closest-side, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%),
        -o-linear-gradient(rgba(231, 228, 222, 0), rgba(231, 228, 222, 1) 150px, rgba(231, 228, 222, 1) 388px, rgba(255, 255, 255, 0) 388px, rgba(243, 239,233,1) 388px,rgba(243, 239,233,1) 390px, rgba(206,195,187,1) 390px, rgba(230,222,216,1) 990px, rgba(230,222,216,1)),
        -o-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        -o-linear-gradient(0pt 50% , rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        -o-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        -o-linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-image: radial-gradient(center 425px 45deg, circle closest-side, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 30%),
        radial-gradient(center 425px 45deg, circle closest-side, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%),
        linear-gradient(rgba(231, 228, 222, 0), rgba(231, 228, 222, 1) 150px, rgba(231, 228, 222, 1) 388px, rgba(255, 255, 255, 0) 388px, rgba(243, 239,233,1) 388px,rgba(243, 239,233,1) 390px, rgba(206,195,187,1) 390px, rgba(230,222,216,1) 990px, rgba(230,222,216,1)), 
        linear-gradient(0pt 50% , rgba(255, 255, 255, 0.07) 50%, transparent 50%),
        linear-gradient(0pt 50% , rgba(255, 255, 255, 0.13) 50%, transparent 50%),
        linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.17) 50%),
        linear-gradient(0pt 50% , transparent 50%, rgba(255, 255, 255, 0.19) 50%);
    background-size: 13px, 26px, auto, 13px, 29px, 37px, 53px;
    font-size:      16px;
 }
 body * {
    margin:0;
    padding:0;
 }
 header {
    height:         200px;
    width:          100%;
    top: 0;
    z-index:        100;
    visibility:     hidden;
}
header #logo {
    position: relative;
    left: 5px;
    top: 15px;
    z-index: 110;
}
header #logo img {
    height: 66px;
    height: 125px;
}
/* ---                                             --- **
**          LAUNCHING OF AN ANIMATION DURING           **
**          LOADING OF THE CARROUSEL IMAGES            **
** ---                                             --- */
div#loading {
    top: 20px;
    left: 30px;
    position: absolute;
    z-index: 1000;
    cursor: wait; 
}
div#loading img {
    vertical-align: middle;
}
/* ---                                             --- **
**                          SLOGAN                     **
** ---                                             --- */
#slogan {
    position:       absolute;
    top:            5px;
    left:           350px;
    z-index:        120;
    visibility:     hidden;
}                                     
#slogan h1 {
    text-align:     center;
    color:          #cacbcc;
    font-family:    'Mr Dafoe', cursive;
    font-size:      2.5rem;
    margin-top:     5px;
    margin-bottom:  1px;
    text-shadow: -1px 0 0 rgba(158, 20, 13, 0.8), 
        1px 0 0 rgba(158, 20, 13, 0.8),
        0 -1px 0 rgba(158, 20, 13, 0.8),
        0 1px 0 rgba(158, 20, 13, 0.8);
}
#slogan h2 {
    color:          #8D26B5; 
    text-align:     center;
    font-family:    'Shadows Into Light', cursive;
    font-size:      2.5rem;
    margin-top:     0px;
    margin-bottom:  5px;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.4),
        -1px -2px 0 rgba(255,255,255,1);   
}
/* ---                                             --- **
**                     CARROUSEL                       **
** ---                                             --- */
#slideshow {
    width: 99%;
    position: absolute;
    left: 0;
    top: 10px;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00007f;
    background: #ffffff;
    background: linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    visibility: hidden;
}
#slideshow img {
    width: 100%;
    height: auto;
}
/* ---                                             --- **
**                 NAVIGATION BAR                      **
** ---                                             --- */
nav {
    position:       relative;
    margin-top:     5px;
    margin-left:    7px;
    width:          98.5%;
    z-index:        100;
}
 /* HTML Nav Styles */
 nav menuitem {
    position:       relative;
    display:        block;
    opacity:        0;
    cursor:         pointer;
    margin-left:    0;
    margin-top:     1px;
    margin-bottom:  0px;
    margin-right:   1px;
 }
 
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 nav > menu { 
     display:flex; 
}
nav > menu > menuitem {
    pointer-events: all; 
    opacity:        1; 
}
 menu menuitem a { 
    white-space:nowrap; 
    display:block; 
}
    
 menuitem:hover > menu {
    pointer-events: initial;
 }
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:        1;
 }
 nav > menu > menuitem menuitem menu {
    transform:      translateX(100%);
    top:            0; 
    right:          0;
 }
 
 nav a {
    color:          #000000; 
    min-width:      190px;
    font-size:      0.7rem;
    font-family:    'Oswald', sans-serif;
    transition:     background 0.5s, color 0.5s, transform 0.5s;
    margin:         0px 6px 6px 0px;
    padding:        10px 10px 10px 40px;
    box-sizing:     border-box;
    box-shadow:     0px 2px 4px rgba(0, 0, 0, 0.5);
    position:       relative;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:    1px 0 0 rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1em;
    background:     -webkit-gradient(linear, center top, center bottom, from #ffffff, to #71b2dc );
    background-image: linear-gradient(#ffffff, #71b2dc);
    border:         0.5px solid #71b2dc;
    border-radius:  5px 5px 5px 5px;
 }
 
 nav a:hover:before {
    content:        '';
    top:            0;
    left:           0;
    position:       absolute;
    background:     rgba(255, 255, 255, 0.3);
    color:          #71b2dc;
    border-radius:  5px;
    border:         0.5px solid #8D26B5;
    box-shadow:     inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    width:          100%;
    height:         100%;
 }
 
 nav > menu > menuitem > a + menu:after{
    content:        '';
    position:       absolute;
    border:         10px solid transparent;
    border-top:     10px solid #000000;
    left:           12px;
    top:            -30px;
 }
 nav menuitem > menu > menuitem > a + menu:after{ 
    content:        '';
    position:       absolute;
    border:         10px solid transparent;
    border-left:    10px solid #000000;
    top:            10px;
    left:           -180px;
    transition:     opacity 0.6, transform 0s;
 }
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }
nav input[type=checkbox]{
	display: 		none;
}
nav .show-menu {
    display:        none;
}
#content {
    display:       flex;
    flex-wrap:     wrap;
}
#left {
    width:          20%;
}
#left img {
    margin:         80px 30px 10px 60px;
}
#right {
    width:          80%;
}
#bottom {
    width:         100%;
    margin:        5px auto 50px 50px;
}
h1,h2,h3,h4 {
    font-family:    'Shadows Into Light', cursive;
    font-weight:    bold;
}
h1 {
    margin:         30px 0 0 0; 
}
h2, h3, h4 {
    margin:         5px 0 0 0;
}
h3, h4 {
    margin:         2px 0 0 0;
}
p {
    font-family:    'Dancing Script', cursive;
    padding:        0 16px 0 0;
    margin-top:     0;
}
p::first-letter,
p a::first-letter {
    font-size:      1.8rem;
    color:          #71b2dc;  
    margin-left:    30px;
}
.size32 {
    font-size:      4.2rem;
}
.size16 {
    font-size:      2.6rem;
}
.size8 {
    font-size:      1.8rem;
}
.size4 {
    font-size:      1.4rem;
}
.size2 {
    font-size:      1.2rem;
}
.size0 {
    font-size:      0.8rem;
}
#form-blog,
#form-login {
    margin-top:     40px;  
}
#form-connexion {
    margin-top:     300px;
}
#form-blog,
#form-login,
#form-connexion {
    border:         1px solid #71b2dc;
    width:          250px;
    z-index:        100;
    position:       fixed;
    margin-left:    7px;
}
#form-blog .button,
#form-login .button,
#form-connexion .button {
	float:			left;
  	border: 		#71b2dc solid 2px;
  	cursor:			pointer;
  	background-color:#71b2dc;
  	transition: 	all 0.3s;
	margin:			3px 0 5px 6px; 
	font-weight:	500;
	font-size: 		10px;
	padding: 		5px 6px 4px 6px;
    line-height: 	12px;
    width:          100px;
    border-radius:  15px 15px 15px 15px;
    background:     -webkit-gradient(linear, center top, center bottom, from #ffffff, to #71b2dc );
    background-image: linear-gradient(#ffffff, #71b2dc);
    font-family:    'Oswald', sans-serif;
    letter-spacing: 0.1em;
    text-shadow:    1px 0 0 rgba(255, 255, 255, 0.8);
}
#form-blog .button:hover,
#form-login .button:hover,
#form-connexion .button:hover {
	background-color: rgba(0,0,0,0);
    color: 			#71b2dc;
    background:     -webkit-gradient(linear, center top, center bottom, from #ffffff, to #cccccc );
    background-image: linear-gradient(#ffffff, #cccccc);
    box-shadow:     1px 1px 12px #71b2dc;
}
#form-blog h2,
#form-login h2,
#form-connexion h2 {
	font-size: 		0.9375rem;
	font-weight: 	bold;
    margin: 		0.5rem 0.3125rem 0 0.3125rem;
    padding-left:   5px;
}
#form-blog p,
#form-login p,
#form-connexion p {
    width:              100%;
    margin: 			4px 0 0 6px;
}
#form-blog textarea,
#form-login textarea,
#form-connexion textarea {
    height: 			7.375rem;
	resize:				vertical;
}
#form-blog input,
#form-blog textarea,
#form-login input,
#form-login textarea,
#form-connexion input,
#form-connexion textarea {
	box-sizing:		border-box;
  	width: 			95%;
  	border: 		1px solid rgba(204,204,204,1);
	color: 			#000000;
	font-size: 		0.625rem;
	line-height: 	0.75rem;
    background:		#ffffff;
    padding: 		0.3125rem 0.1875rem 0.25rem 0.375rem; 
}
#form-blog input.controle,
#form-blog textarea.controle,
#form-login input.controle,
#form-login textarea.controle,
#form-connexion input.controle,
#form-connexion textarea.controle {
    outline:        0;
    font-size: 		0.625rem;
    width:          95%;
  }	
#form-blog input.controle:valid,
#form-blog textarea.controle:valid,
#form-login input.controle:valid,
#form-login textarea.controle:valid,
#form-connexion input.controle:valid,
#form-connexion textarea.controle:valid {
    border:         1.5px solid #00aa00;
}
#form-blog input.controle:invalid,
#form-blog textarea.controle:invalid,
#form-login input.controle:invalid,
#form-login textarea.controle:invalid,
#form-connexion input.controle:invalid,
#form-connexion textarea.controle:invalid {
    border:         1px solid #aa0000;
}
.error {
    margin-top:     50px;
    color:          #aa0000;
}