/* =================================================== **
**             CASCADING STYLES SHEET                  **
** =================================================== */
/* Author    : Thierry CHARPENTIER                      *
*  Date      : 16.09.2018                               *
*  Version   : V2R0                                     *
* ==================================================== */
html, body {
    font-size:      14px;
    font-family: 'Oswald', 'Verdana', sans-serif;
    width: 99%;
}
body {
    margin-left: 0;
    margin-right: 0;
    padding-top: 55px;
}
.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}
/* ---                                             --- **
**          LAUNCHING OF AN ANIMATION DURING           **
**          LOADING OF THE CARROUSEL IMAGES            **
** ---                                             --- */
#preload {
    height:         200px;
    width:          100%;
    top: 0;
    z-index:        100;
    visibility:     hidden;
}
div#loading {
    top: 20px;
    left: 30px;
    position: absolute;
    z-index: 1000;
    cursor: wait; 
}
div#loading img {
    vertical-align: middle;
}
/* ---                                             --- **
**                    NAVIGATION MENU                  **
** ---                                             --- */
.navbar {
    vertical-align: middle;
}
.navbar-brand {
    padding: 0.1px 15px;
}
.navbar-brand h1 {
    text-align:     center;
    color:          #cacbcc;
    font-family:    'Mr Dafoe', cursive;
    font-size:      1.1rem;
    text-shadow: -1px 0 0 rgba(158, 20, 13, 0.8), 
        1px 0 0 rgba(158, 20, 13, 0.8),
        0 -1px 0 rgba(158, 20, 13, 0.8),
        0 1px 0 rgba(158, 20, 13, 0.8);
}
.navbar-fixed-top {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.inline-form input {
    display: inline-block;
    width: 100px;
}
.navbar-right {
    margin-right: 10px;
}
/* ---                                             --- **
**                     CARROUSEL                       **
** ---                                             --- */
#slideshow {
    width: 99%;
    position: absolute;
    left: 5px;
    top: 52px;
    right: 5px;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00007f;
    background: #ffffff;
    background: linear-gradient(#fff, #fff 20%, #eee 80%, #ddd);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    visibility: hidden;
}
#slideshow img {
    width: 100%;
    height: auto;
}
/* ---                                             --- **
**                       FOOTER                        **
** ---                                             --- */
footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.page-footer {
    background-color: #ffd5f7;
    border: 1px solid #97007a;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5px;
}
.footer-copyright {
    color: #97007a;
    border-radius: 3px 3px 3px 3px;
}
.footer-copyright a {
    color: #97007a;    
}
.copyright {
    color: #44ff44;
    font-weight: bold;
}
/* ---                                             --- **
**                     CONTACT FORM                    **
** ---                                             --- */
.form {
    background-color: #f8e7ed;
    padding: 5px;
    margin-bottom:2px;
}
h3.form {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;  
}
h4.form,
span.form {
    font-size: 0.6rem;
}
h4.form {
    text-transform: uppercase;  
}
li.form {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}
/* ---                                             --- **
**                    REGISTER FORM                    **
** ---                                             --- */
.register,
.register-comment {
    background-color: #dfffe1;
    padding: 5px;
    margin-bottom:2px;
}
h3.register,
h3.register-comment {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;  
}
h4.register,
span.register,
span.register-comment {
    font-size: 0.6rem;
}
span.register-comment-glyph {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.9rem;
}
h4.register {
    text-transform: uppercase;  
}
li.register {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}
img.register { width: 32px;}
fieldset.form,
fieldset.register,
fieldset.register-comment {
    border: 1px solid #fd67df;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}
/* ---                                             --- **
**                    HOME PAGE                        **
** ---                                             --- */
.biography p::first-letter,
.biography li::first-letter {
    font-family: 'Tangerine', cursive;
    font-size: 1.2rem;
    margin-left: 20px;
    text-transform: uppercase;
    color: #97007a;
}
.biography p::first-letter {
    margin-left: 20px;
}
.biography li::first-letter {
    margin-left: 3px;
}
@media only screen and (min-width: 320px) and (max-width: 1279px) {
    #photo {display: none;}
    .biography .badge {display: none;}
}
.filmography .panel-heading {
    background-color: #a7d6ab;
    padding-top:    5px;
    padding-bottom: 5px;
}
.filmography .panel-heading h3 {
    color: #000000;
    margin-top: 3px;
}
/* ---                                             --- **
**                       POLITIES                      **
** ---                                             --- */
.polities {
    font-size: 0.6rem;
}
.polities h3 {
    font-size: 1rem;
}
.polities h4 {
    font-size: 0.8rem;
}
.polities h5 {
    font-size: 0.7rem;
}
/* ---                                             --- **
**                       CHAPTERS                      **
** ---                                             --- */
.chapter dt {
    color: #97007a;
    background-color: #ffcdf5;
    font-size: 1.2rem;
    border: 1px dotted #97007a;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 5px 3px 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.chapter dt small {
    color: #6db25a;
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 15px;
}
.chapter dd::first-letter {
    font-family: 'Tangerine', cursive;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 5px;
    text-transform: uppercase;
    color: #97007a;
}
/* ---                                             --- **
**                       VARIOUS                       **
** ---                                             --- */
.btn-default {
    margin-top: 5px;
    margin-left: 30px;
    background: #bfd255;
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 64%, #72aa00 80%, #72aa00 80%, #9ecb2d 100%);
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 64%,#72aa00 80%,#72aa00 80%,#9ecb2d 100%);
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 64%,#72aa00 80%,#72aa00 80%,#9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.btn-icon { color: #44ff44; margin-right: 5px; margin-left: 5px;}
.img-thumbnail {
    padding:        5px;
    margin:         0 auto 2em;
    border:         1px solid #C1C1C1;
    background:     #ffffff;
    /* CSS3 effects */
    background:     -webkit-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -moz-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -ms-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -o-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    -webkit-border-radius:  2px 2px 2px 2px;
    -moz-border-radius:  2px 2px 2px 2px;
    -ms-border-radius:  2px 2px 2px 2px;
    -o-border-radius:  2px 2px 2px 2px;
    border-radius:  2px 2px 2px 2px;
    -webkit-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -moz-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -ms-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -o-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    box-shadow:     0 0 3px rgba(0,0,0, 0.2);
}
input[type=text],
input[type=email],
input[type=password],
textarea {
    font-size: 0.6rem; 
}
input[type=text],
input[type=email],
input[type=password] {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
}
.form-control-feedback { font-size: 0.8rem;}
.control-label {
    font-size: 0.7rem;
}
.content {
    margin-left: 10px;
    margin-right: 10px;
}
.page-header {
    padding-bottom: 1px;
    margin: 0 5px 0 5px;
}
.breadcrumb {
    padding: 0px 5px 0px 20px;
    margin-bottom: 3px;
}
.glyph {
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
}
.red {
    color: #ff0000;
}
.orange {
    color: #ff9900;
}
.green {
    color: #44ff44
}
.blue {
    color: #337ab7;
}
.pager li a {
    background-color: #ffcdf5;
    color: #337ab7;
    font-weight: bold;
}
.pager li a:hover {
    background-color: #337ab7;
    color: #ffffff;
    transition: 0.5s;
    transform: rotate(180deg);
}