
        <footer class="page-footer">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h5 class="text-uppercase text-center"><strong>Adresse</strong></h5>
                <address class="text-left">
                  <h6><strong>Jean FORTEROCHE</strong><br/>
                  28 Rue plaine des gardes<br/>
                  FR-10300 SAINTE SAVINE<br/>
                  <span class="glyphicon glyphicon-phone"></span>&nbsp; +33.651.143.924<br/>
                  <span class="glyphicon glyphicon-send"></span>&nbsp;<a href="mailto:jean.forteroche.jf@gmail.com">jean.forteroche.jf@gmail.com</a></h6>
                </address>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h5 class="text-uppercase text-center"><strong>Mentions légales</strong></h5>
                <h6 class="text-left"><strong>Directeur de publication : </strong>Jean Forteroche<br/>
                    <strong>Hébergeur :</strong> OVH, 2 RUE KELLERMANN 59100 ROUBAIX<br/><br/>
                    <u>Récupération et/ou utilisation de données :</u><br/>
                    Ce site a fait l’objet d’une déclaration auprès de la CNIL (Commission Nationale Informatique et Libertés), 
                    conformément à la Loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard 
                    des traitements de données à caractère personnel modifiant la loi n° 78-17 du 6 janvier 1978.<br/>
                    Le numéro assigné par la CNIL étant le 1234567890
                </h6>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h5 class="text-uppercase text-center"><strong>Politique de confidentialité</strong></h5>
                <a href="index.php?action=shPolities">
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok btn-icon" aria-hidden="true"></span>
                    Voir la politique
                  </button></a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
                <!-- Copyright -->
                <h6 class="text-uppercase text-center"><span class="copyright">© 2018</span> :<a href="http://www.agekhanonix.fr"> agekhanonix.fr</a></h6>
            </div>
          </div>
        </footer>
      </div><!-- END (container-fluid) -->
      <!-- ###        JAVASCRIPT / M.E.O. BOOTSTRAP     ### -->
      <script src="public/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
      <!-- ###           JAVASCRIPT / CUSTOM JS         ### -->
      <script src="public/js/main.js" type="text/javascript"></script>  <!-- Main program -->
      <script src="public/js/objects/carrousel.js" type="text/javascript"></script>
    </body>
</html>